/*


/assets/MoTeC_example_of_time_chart_time_stamps.png
/assets/examplecompariosnlapMoTeC.png
/assets/Debug*.mp4


!/Cargo.toml
!/Cargo.lock
!/.gitignore
!/src/
!/assets/
!/docs/
!/opendav_desktop/
!/bin/


!/exports/
/exports/track_maps/
/exports/StoParser_Source/

/target/
**/target/
**/*.rs.bk
.venv/
__pycache__/

.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db


*.exe
*.zip
*.rar
/Releases/
/bin/
